NODE_ENV=development
PORT=4001

POSTGRES_USER=legaldhara
POSTGRES_PASSWORD=
POSTGRES_DB=LegalDhara
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_CONTAINER=
DATABASE_URL=

JWT_SECRET=
JWT_REFRESH_SECRET=

FIREBASE_CRED_PATH=/etc/secrets/firebase-key.json
ENCRYPTION_KEYS_PATH=/etc/secrets

PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=
PHONEPE_CALLBACK_PASSWORD=
PHONEPE_CALLBACK_USERNAME=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

CORS_ORIGINS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAIL_HOST=smtp.yourdomain.com
MAIL_PORT=465
MAIL_USER=yourname@yourdomain.com
MAIL_PASS=
MAIL_FROM=Your Name <yourname@yourdomain.com>

IMAP_HOST=
IMAP_PORT=993

GOOGLE_DRIVE_FOLDER_ID=
BACKUP_DIR=
